.myfirstrow {
	color: #990000;
}

.myevenrow {
	background-color: #ddffdd;
}

.myreddot {
  stroke: #990000 !important;
  fill: #990000 !important;
  fill-opacity: 1 !important;
  stroke-width:5;
  size:1000;
}

#profile-data-table, #trigger-data-table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
    border-collapse: collapse;
    width: 99%;
	//height:100%;
	margin:2px;
}

#profile-data-table td, #profile-data-table th, #trigger-data-table td, #trigger-data-table th {
    //border: 1px solid #ddd;
    padding: 2px;
}

#profile-data-table tr:nth-child(even){background-color: #f2f2f2;}
#trigger-data-table tr:nth-child(even){background-color: #f2f2f2;}

#profile-data-table tr:hover {background-color: #ddd;}
#trigger-data-table tr:hover {background-color: #ddd;}

#profile-data-table th , #trigger-data-table th {
    //padding-top: 12px;
    //padding-bottom: 12px;
    text-align: center;
    background-color: #00acf1;
    color: white;
}
